
@{
    Layout = "_LayoutAdmin";
    var brands = ViewData["brand"] as List<Brand>;
    var product = ViewData["product"] as Product;
}
<h1>@product.Name</h1>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card-header">

        </div>
        <div class="card-body">

            <form autocomplete="off"  asp-controller="Product" asp-action="Update" asp-route-id="@product.Id"  method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Tên sản phẩm</label>
                    <input type="text" class="form-control" name="name" id="" placeholder="Tên sản phẩm..." value="@product.Name" required="">
                    <label for="title">Hình ảnh</label>
                    <input type="file" class="form-control" name="image" id="">
                    <label for="title">Giá tiền</label>
                    <input type="text" class="form-control" name="price" id="" placeholder="Gía tiền..." value="@product.Price" required="">
                    <label for="title">Giá tiền sau sales</label>
                    <input type="text" class="form-control" name="discount_price" id="" placeholder="Gía tiền sau sales..." value="@product.DiscountPrice" required="">
                    <label for="title">Hãng</label>
                    <select class="form-control" name="brand" id="" required="">
                        @foreach (var brand in brands)
                        {
                            @if(product.Brand == brand.Id) {
                                <option  selected="selected" value="@brand.Id">@brand.Name</option>
                            }
                            else {
                                <option value="@brand.Id">@brand.Name</option>
                            }
                        }
                    </select>
                    <label for="title">Mô tả ngắn</label>
                    <textarea class="form-control" name="short_desc" id="exampleFormControlTextarea1" rows="3" required="">@product.ShortDesc</textarea>
                    <label for="title">Mô tả</label>
                    <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="3" required="">@product.Desc</textarea>
                    <input type="submit" class="btn btn-primary mt-2" value="Sửa">
                </div>
            </form>
        </div>
    </div>
</div>
