@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
    var products = ViewData["product"] as List<Product>;
    var brands = ViewData["brands"] as List<Brand>;
    var events = ViewData["events"] as List<Event>;
    var sort_view_products = ViewData["sort_view_product"] as List<Product>;
    var sort_id_products = ViewData["sort_id_product"] as List<Product>;
    var sort_selled_products = ViewData["sort_id_selled"] as List<Product>;
}
<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            @foreach (var item in events)
            {
                <li>
                    <img src="~/uploads/events/@item.Image" alt="Slide">
                </li>
            }
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fas fa-sync"></i>
                    <p>30 ngày hoàn trả</h1>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Miễn phí giao hàng</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Bảo mật tốt</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>Sản phẩm mới</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel">
                        @foreach (var product in products)
                        {
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="~/uploads/@product.Image" style="width:220px; height: 220px" alt="">
                                    <div class="product-hover">
                                        <a class="product_style-1" asp-controller="Home" asp-action="SingleProduct"
                                        asp-route-id="@product.Id"><i class="fa fa-link"></i>
                                            See details</a>
                                    </div>
                                </div>

                                <h2>@product.Name</h2>
                                <div class="product-carousel-price">
                                    <ins>@product.Price</ins> <del>@product.Price</del>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        @foreach (var brand in brands)
                        {
                            <img src="~/uploads/brands/@brand.Image" alt="">
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top Sellers</h2>
                    @foreach (var product in sort_selled_products)
                    {
                        <div class="single-wid-product">
                            <a asp-controller="Home" asp-action="SingleProduct" asp-route-id="@product.Id"><img
                                src="~/uploads/@product.Image" alt="" class="product-thumb"></a>
                            <h2><a asp-controller="Home" asp-action="SingleProduct"
                                asp-route-id="@product.Id">@product.Name</a></h2>
                            <div class="product-wid-price">
                                <ins>@product.Price</ins> <del>@product.DiscountPrice</del>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Recently Viewed</h2>
                    @foreach (var product in sort_view_products)
                    {
                        <div class="single-wid-product">
                            <a asp-controller="Home" asp-action="SingleProduct" asp-route-id="@product.Id"><img
                                src="~/uploads/@product.Image" alt="" class="product-thumb"></a>
                            <h2><a asp-controller="Home" asp-action="SingleProduct"
                                asp-route-id="@product.Id">@product.Name</a></h2>
                            <div class="product-wid-price">
                                <ins>@product.Price</ins> <del>@product.DiscountPrice</del>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top New</h2>
                    @foreach (var product in sort_id_products)
                    {
                        <div class="single-wid-product">
                            <a asp-controller="Home" asp-action="SingleProduct" asp-route-id="@product.Id"><img
                                src="~/uploads/@product.Image" alt="" class="product-thumb"></a>
                            <h2><a asp-controller="Home" asp-action="SingleProduct"
                                asp-route-id="@product.Id">@product.Name</a></h2>
                            <div class="product-wid-price">
                                <ins id="@product.Id">
                                    @product.Price
                                </ins> <del>@product.DiscountPrice</del>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section parse {
    <script>
        let x = document.querySelectorAll("ins");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                      .toLocaleString('en');
            x[i].innerHTML = num +' VND';
        }
        let y = document.querySelectorAll("del");
        for (let i = 0, len = y.length; i < len; i++) {
            let num = Number(y[i].innerHTML)
                      .toLocaleString('en');
            y[i].innerHTML = num + ' VND';
        }
    </script>
}
